@import url("https://fonts.googleapis.com/css?family=Noto+Serif:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  overflow-x: hidden;
  color: #fff;
  height: 100vh;
  widows: 100vw;
  background-image: url("../img/bg.png"), linear-gradient(to top left, #1C3763, #BB3B56);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  line-height: 1.75;
}

span {
  color: #fff;
  font-size: x-small;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fff;
  font-size: x-small;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #11213b;
}

.title {
  font-family: "Noto Serif", serif;
  margin-bottom: 10%;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.form-control {
  color: #fff;
  background-color: transparent;
  border-radius: 5em;
  line-height: 2;
}

.form-control:focus {
  background-color: transparent;
}

.form-group {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  font-size: small;
  padding: 10px 0 0 15px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.btn-block {
  border: 1px solid #1C3763;
  width: 100%;
  border-radius: 5em;
  background: #1C3763;
  color: #fff;
  font-size: small;
  line-height: 2;
}
